---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/navigation.astro';
---

<Layout title="arifur rahman">
	<Navigation />
	<main>
		<h1>Welcome to <span class="text-gradient">about page</span></h1>
	</main>
</Layout>

